.container{
  background-color: #e7e7e7;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


  &-cards{
    width: 95%;
    background-color: black;

  }

  &-table{
    border: 1px solid black;
    height: 450px;
    width: 95%;
    background-color: white;

    &-actions{

    }


  }
}
