<h2 mat-dialog-title>New Sale</h2>
<mat-dialog-content class="mat-typography" >
  <form [formGroup]="dataSale" class="container" (ngSubmit)="onSubmit()">

    <mat-form-field>
      <mat-label for="qtd">QTD</mat-label>
      <input matInput type="number" formControlName="qtd">
    </mat-form-field>

    <mat-form-field>
      <mat-label for="productChoose">Product</mat-label>
      <input  type="text"

              matInput
              [formControl]="control"
              [matAutocomplete]="auto"
      >

      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let product of filProducts  | async" [value]="product">
          {{product}}
        </mat-option>
      </mat-autocomplete>

    </mat-form-field>
    <div >
      <p>Quantity: {{  qtd?.value }}</p>
      <p>Produt: {{  productChoose?.value }}</p>
      <p>Money: {{money?.value}}</p>
    </div>

    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
      <button type="submit" mat-button   cdkFocusInitial >Sign Up</button>
    </mat-dialog-actions>


  </form>




</mat-dialog-content>

