<mat-toolbar class="sidenav-content-toolbar">
  <button mat-icon-button  (click)="sidenav.toggle()" class="sidenav-content-toolbar-img" >

    <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
    <mat-icon *ngIf="sidenav.opened">close</mat-icon>

  </button>
  <span class="sidenav-content-toolbar-title">{{nameClient}}</span>
  <a href="https://github.com/JosueMedino01 " target="_blank"> <img src="assets/github.png" alt="GitHub logo" class="sidenav-content-toolbar-img"></a>

</mat-toolbar >
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav="matSidenav" class="sidenav">
    <img   src="assets/angular-icon.png" alt="Logo" class="sidenav-img">
    <h4 class="sidenav-title">Angular</h4>

    <mat-divider></mat-divider>

    <button mat-button  routerLink="/home" class="sidenav-btn">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-button  routerLink="/clients" class="sidenav-btn">
      <mat-icon>bar_chart</mat-icon>
      <span>Client</span>
    </button>

    <button mat-button  routerLink="/data" class="sidenav-btn">
      <mat-icon>bar_chart</mat-icon>
      <span>Chart</span>
    </button>

    <button mat-button  routerLink="/sales" class="sidenav-btn">
      <mat-icon>attach_money</mat-icon>
      <span>Money</span>
    </button>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">



    <div class="sidenav-content-main">
      <router-outlet ></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
