mat-toolbar{
  background-color: #594848;
  height: 50px;
}


mat-sidenav{
  width: 200px;
  background-color: rgb(53, 53, 53);
  color: white;
}

mat-sidenav-content{
  background-color: rgb(185, 185, 185);

}

mat-sidenav-container{
  height: 100vh;
}
